/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a.message{
    background: url("../images/icons/mail_icon.gif") no-repeat scroll 5px 13px transparent;
    color : #fcaa29;
    font-weight:bold;
}

a.comment{
    background: url("../images/icons/comment_icon.jpg") no-repeat scroll 5px 13px transparent;
    color : #fcaa29;
    font-weight:bold;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

.btn-edit{
    background: url("../images/icons/edit.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-sort{
    background: url("../images/icons/sort.png")no-repeat;
    width: 7px !important;
    height: 10px !important;
    display: inline-block;
}

.btn-car{
    background: url("../images/icons/car.png")no-repeat;
    width: 14px !important;
    height: 14px !important;
    display: inline-block;
}

.btn-medical{
    background: url("../images/icons/medical.png")no-repeat;
    width: 14px !important;
    height: 14px !important;
    display: inline-block;
}

.btn-delete{
    background: url("../images/icons/cross.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}
.btn-map{
    background: url("../images/icons/map.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-check{
    background: url("../images/icons/tick.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-uncheck{
    background: url("../images/icons/uncheck.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-child{
    background: url("../images/icons/child.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-up{
    background: url("../images/icons/up.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.btn-down{
    background: url("../images/icons/down.png")no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.dash{
    display: inline-block;
    height: 50px !important;
    width: 50px !important;    
}
.home{background: url("../images/eleganticons/Home.png") no-repeat scroll 0 0 transparent;}
.article{background: url("../images/eleganticons/Paper.png") no-repeat scroll 0 0 transparent;}
.write{background: url("../images/eleganticons/Paper-pencil.png") no-repeat scroll 0 0 transparent;}
.mail{background: url("../images/eleganticons/Mail.png") no-repeat scroll 0 0 transparent;}
.file{background: url("../images/eleganticons/Folder.png") no-repeat scroll 0 0 transparent;}
.user{background: url("../images/eleganticons/Person-group.png") no-repeat scroll 0 0 transparent;}
.gallery{background: url("../images/eleganticons/Photo.png") no-repeat scroll 0 0 transparent;}
.spb{background: url("../images/eleganticons/Ship.gif") no-repeat scroll 0 0 transparent;}
.setting{background: url("../images/eleganticons/Config.png") no-repeat scroll 0 0 transparent;}
.order{background: url("../images/eleganticons/order.png") no-repeat scroll 0 0 transparent;}
.promo{background: url("../images/eleganticons/promo.jpg") no-repeat scroll 0 0 transparent;}
.map{background: url("../images/eleganticons/maps-icon.png") no-repeat scroll 0 0 transparent;}
.category{background: url("../images/eleganticons/category.png") no-repeat scroll 0 0 transparent;}
.penyewa{background: url("../images/eleganticons/Person.png") no-repeat scroll 0 0 transparent;}
.blok{background: url("../images/eleganticons/category.png") no-repeat scroll 0 0 transparent;}
.stand{background: url("../images/eleganticons/category.png") no-repeat scroll 0 0 transparent;}
.dummy{
    background: url("../images/eleganticons/person.png") no-repeat scroll 0 0 transparent;
    float: left;
}
.logout{background: url("../images/eleganticons/Cross.png") no-repeat scroll 0 0 transparent;}